{% extends 'base.html' %}

{% block content %}
<br>

<h2 class="text-right"> تکمیل پروفایل</h2>

<br>
<br>

<div class="progress">
    <div class="progress-bar progress-bar-striped bg-light" role="progressbar" style="width: 100%" aria-valuenow="10"
        aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="10"
        aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="10"
        aria-valuemin="0" aria-valuemax="100"></div>

</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                <div class="card-header text-right">محصولات شما</div>
                <div class="card-body bg-light text-dark text-right">
                    {% for item in cart %}
                    <div class="row">
                        <div class="col-md-5">
                            <h5 class="card-title">{{ item.product.title }}</h5>
                        </div>
                        <div class="col-md-4 ml-4">
                            <img class="rounded border border-secondary" src="{{ item.product.image.url }}"
                                alt="{{ item.product.title }}" style="width: 180%; height: 80px;">
                        </div>
                    </div>
                    <div class="card-footer col-md-12 ml-2 mt-1 rounded" style="height:50px">
                        <div class="row">

                            <p class="card-text text-left">{{ item.product.price }} :قیمت-</p>
                            <p class="card-text text-left"> (تعداد ({{ item.quantity }} </p>
                        </div>
                    </div>
                    <hr>

                    {% endfor %}
                    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-3 mt-3">
                                    <p> تومان </p>
                                </div>
                                <div class="col-md-4 ml-1 text-left">
                                    <div class="btn-group-toggle mt-2">
                                        <label class="btn btn-warning "><b>{{ total }}</b></label>
                                    </div>

                                </div>
                                <div class="col-md-4 mt-3">
                                    <p> قیمت کل </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class=" btn btn-danger text-center ml-5 mr-5 mt-2 mb-2" href="{% url 'cart:cart' %}">اصلاح سبد خرید
                </a>
            </div>
        </div>
        <div class="col-md-8">


            <br>
            <!-- baraye ferestadan eImage to safe as "enctype" estefade mikonim -->
            <form action="{% url 'cart:bank' %}" class="needs-validation text-right" novalidate method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <form class="needs-validation disabled" tabindex="-1" novalidate aria-disabled="true">
                    <div class="form-row">
                        <div class="col-md-4 mb-4 offset-md-8 text-right disabled">
                            <!-- <label for="validationCustomUsername">نام کاربری</label> -->
                            <div class="input-group text-right">
                                <!-- <div class="input-group-prepend disabled">
                                    <span class="input-group-text disabled" id="inputGroupPrepend">@</span>
                                </div> -->

                                <input type="hidden" class="form-control disabled" aria-disabled="true" tabindex="-1"
                                    id="validationCustomUsername" placeholder="abcd" name="username"
                                    value="{{user.username}}" aria-describedby="inputGroupPrepend" readonly>
                                <div class="invalid-feedback">
                                    نام کاربری صحیح نیست
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-4 mb-3 offset-md-4">
                            <label for="validationCustom02">نام خانوادگی</label>
                            <input type="text" class="form-control text-right" id="validationCustom02"
                                placeholder="احمدی" name="last_name" value="{{ user.last_name }}" required>
                            <div class="valid-feedback">
                                قابل قبول!
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">نام</label>
                            <input type="text" class="form-control text-right" id="validationCustom01" name="first_name"
                                placeholder="احمد" value="{{ user.first_name }}" required>
                            <div class="valid-feedback">
                                قابل قبول!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11 mb-3 ml-5">
                        <div class="form-group col-md-6 offset-md-7">
                            <label for="inputEmail4">ایمیل</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="example@info.com"
                                value="{{ user.email }}" name="email" required>
                        </div>
                    </div>

                    <div class="col-md-5 offset-md-7">
                        <div class="col-md-12 mb-3 offset-md-1">
                            <!-- <label for="validationTextarea">بیو</label> -->
                            <input type="hidden" class="form-control text-right" id="validationTextarea"
                                placeholder="درباره من" value="{{ user.profile.bio }}" name="bio" readonly>
                            <div class="invalid-feedback">
                                لطفا بیو خود را وارد کنید
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom03">ادرس</label>
                            <input type="text" class="form-control text-right" id="validationCustom03"
                                placeholder=" ... شهرستان - خیابان - کوچه - پلاک" name="address"
                                value="{{ user.profile.address }}" required>
                            <div class="invalid-feedback">
                                لطفا ادرس محل سکونت خود را وارد کنید
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">شهر</label>
                            <input type="text" class="form-control text-right" id="validationCustom04"
                                placeholder="تهران" name="city" value="{{ user.profile.city }}" required>
                            <div class="invalid-feedback">
                                لطفا شهر محل سکونت خود را وارد کنید
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom05">شماره تماس</label>
                            <input type="text" class="form-control" id="validationCustom05"
                                aria-describedby="phoneHelpInline" placeholder="0912..." name="phone"
                                value="{{ user.profile.phone }}">
                            <small id="phoneHelpInline" class="text-muted">
                                همراه با کد/شماره تماس باید حداقل یازده رقم باشد
                            </small>
                            <div class="invalid-feedback">
                                لطفا شماره تماس خود را وارد کنید
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="col-md-4 offset-md-8">
                        <label for="validationCustom04">کد پستی</label>
                        <input type="text" class="form-control text-right" id="validationCustom04" placeholder="0012521"
                            name="post_code" value="{{ user.profile.post_code }}" required>
                        <div class="invalid-feedback">
                            لطفا کد پستی محل سکونت خود را وارد کنید
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                را خوانده ام و قبول دارم<button class="btn btn-link" data-toggle="modal"
                                    data-target="#exampleModalScrollable">قوانین</button>
                            </label>


                            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content text-right shadow-lg">
                                        <div class="modal-header text-right">
                                            <h5 class="modal-title" id="exampleModalScrollableTitle">قوانین</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-right">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora maxime
                                            facere,
                                            aperiam expedita excepturi eos asperiores? Voluptate cum nostrum sed ut
                                            magni?
                                            Dolores repellendus, aut nemo quas doloribus inventore reiciendis.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum modi
                                            beatae
                                            facere nihil odit eos, odio quam nemo delectus maiores officiis commodi
                                            aspernatur quae sequi ullam, optio magnam facilis? Corrupti?
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi esse
                                            aspernatur
                                            dolorum debitis quaerat Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit.
                                            Nobis sequi quos accusantium sunt corporis. Impedit cum accusamus
                                            expedita quis
                                            maxime libero rerum architecto, fugit autem facilis aliquid nemo aut
                                            quas! Lorem
                                            ipsum dolor sit amet consectetur adipisicing elit. Vel iste similique
                                            dicta hic
                                            debitis nobis cupiditate atque porro? Quia consectetur reprehenderit
                                            corrupti
                                            ipsam accusamus ipsa ad beatae officiis tenetur vero? beatae tenetur
                                            distinctio,
                                            perspiciatis ut laborum hic
                                            inventore ea. Voluptatem nihil incidunt labore dolores vel corrupti!
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
                                            alias,
                                            praesentium ut nulla sunt est necessitatibus debitis iure nisi a.
                                            Laborum, rem.
                                            Aspernatur exercitationem nesciunt accusantium dolore facere delectus
                                            explicabo?
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium ea
                                            soluta
                                            corporis ducimus nisi facilis odio doloribus non alias commodi nihil
                                            magni
                                            deleniti aut praesentium quisquam rerum, harum debitis? Earum. Lorem
                                            ipsum dolor
                                            sit amet, consectetur adipisicing elit. Eveniet, saepe! Recusandae
                                            tempore
                                            reiciendis aut vero, deleniti dolorem consequuntur, rerum autem
                                            distinctio
                                            soluta voluptas, libero aperiam nobis eaque debitis exercitationem!
                                            Soluta.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">بستن</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="invalid-feedback">
                                برای تغییر پروفایل حتما باید قوانین را قبول کنید
                            </div>
                        </div>
                    </div>

                    <br>
                    <button class="btn btn-warning" type="submit"><i class="fas fa-money-check-alt"></i> پرداخت از طریق
                        درگاه زرین پال</button>

                </form>

                <script>
                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                    (function () {
                        'use strict';
                        window.addEventListener('load', function () {
                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                            var forms = document.getElementsByClassName('needs-validation');
                            // Loop over them and prevent submission
                            var validation = Array.prototype.filter.call(forms, function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                }, false);
                            });
                        }, false);
                    })();
                </script>
                <br>
            </form>
            <br>

        </div>
    </div>
</div>

{% endblock %}