{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="col-12 col-md-5 offset-md-4">
    <h2 class="text-right">ورود به سایت</h2>
    <br>
    <form action="{% url 'login-view' %}" class="text-right" method="POST">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-warning" type="submit">ورود</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <a class="dropdown-item  p-4 mb-4 bg-white text-right" href="{% url 'register-view' %}">ثبت نام نکرده
        اید؟</a>

    <a class="dropdown-item  p-4 mb-4 bg-white text-right" href="{% url 'password_reset' %}">رمز خود را فراموش
        کرده
        اید؟</a>
</div>
{% endblock %}