{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}DigiShop|Home{% endblock %}


{% block content %}
<br>

<style>
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
</style>





<div class="row">
    <div class="col-md-8 offset-md-0">

        <div class="bd-example shadow-sm p-4 mb-4 bg-white">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for cat in category %}
                    <li data-target="#carouselExampleCaptions" data-slide-to="{{ cat.id }}"
                        class="{% if forloop.first %} active {% endif %}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for cat in category %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <a href="{{ cat.get_absolute_url }}">
                            <img src="{{ cat.image.url }}" class="d-block w-100 img-thumbnail" alt="{{ cat.title }}"
                                style="height: 470px;">
                        </a>
                        <div class="carousel-caption d-none d-md-block"
                            style="width: 99%; left: 1px; background-color:#343a408c">
                            <h5>{{ cat.name }}</h5>
                            <p>{{ cat.description }}</p>
                        </div>

                    </div>
                    {% endfor %}

                </div>

            </div>
            <a class="carousel-control-prev pr-md-3" style="width: 9%" href="#carouselExampleCaptions" role="button"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next pl-md-3" style="width: 9%" href="#carouselExampleCaptions" role="button"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br />
    </div>

    {% if user.is_authenticated %}
    <div class="col-md-4 offset-md-0">
        <form class="px-4 py-3 shadow-sm p-4 mb-4 bg-dark text-white" style="height:510px;">

            <h2 class="title text-center"> DigiFood </h2>
            <hr>
            <b class="text-right">به سایت دیجی فود خوش امدید {{user}} جناب </b>
            <hr>
            <p class="text-right"> : تاریخ اخرین ورود شما به سیستم</p>
            <p class="text-center">
                <div class="btn-group-toggle">
                    <label class="btn btn-outline-primary text-light ml-5">
                        <input type="checkbox" checked autocomplete="off">{{user.last_login}}</label>
                </div>
            </p>
            <br>
            <p class="text-center">با کیفیت ترین محصولات با پایین ترین قیمت</p>
            <p class="text-right">سفارشات شما حداقل بعد از 3 روز به دست شما خواهد رسید</p>

            <br>

            {% if cart.count == 0 %}
            <button type="button" class="btn btn-secondary offset-md-3" style="width: 220px">سبد خرید شما خالی است
                <i class="fas fa-cart-plus text-right"></i>
            </button>
            {% else %}
            <a href="{% url 'cart:cart' %}">
                <button type="button" class="btn btn-success offset-md-4" style="width: 200px">سبد خرید شما
                    <i class="fas fa-cart-plus text-right"></i>
                    <span class="badge badge-light text-left">{{ cart.count }}</span>

                </button>
            </a>

            {% endif %}
            <a class="btn btn-danger offset-md-4 mt-1" style="width: 200px;"
                href="{% url 'favorites:favorite_view' %}">علاقه مندیها <i class="fas fa-heart"></i></a>
        </form>
    </div>
</div>
{% else %}
<div class="col-md-4 offset-md-0">
    <form class="px-4 py-3 shadow-sm p-4 mb-4 bg-white" method="POST" action="{% url 'login-view' %}">
        {% csrf_token %}
        <div class="form-group text-right">
            <label for="id_username">نام کاربری / ایمیل</label>
            <input type="text" class="form-control" id="id_username" name="username" placeholder="Mamad">
        </div>
        <div class="form-group text-right">
            <label for="id_password">رمز عبور</label>
            <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
        </div>
        <div class="col-md-3 offset-md-9">
            <button type="submit" class="btn btn-primary text-right">ورود</button>
        </div>
    </form>
    <div class="dropdown-divider "></div>
    <a class="dropdown-item shadow-sm p-4 mb-4 bg-white text-right" href="{% url 'register-view' %}">ثبت
        نام</a>
    <a class="dropdown-item shadow-sm p-4 mb-4 bg-white text-right" href="{% url 'password_reset' %}">رمز خود را
        فراموش
        کرده اید؟</a>
</div>
</div>
</div>
</div>
{% endif %}



<br>
</div>


<header class="title text-center bg-danger text-white" style="height:60px">
    <h2 class="title text-center">محصولات ویژه</h2>
</header>
<br><br><br>
<div class="container">
    <div class="row">

        <div class="col-9">
            <div class="tab-content" id="nav-tabContent">
                {% for product in products %}
                <div class="tab-pane fade show {% if forloop.first %} active {% endif %}" id="{{product.slug}}"
                    role="tabpanel" aria-labelledby="list-{{product.slug}}-list">
                    <div class="card mb-3" style="width: 100%;height: 200px;">
                        <div class="row no-gutters">
                            <div class="col-md-4"><a href="{{ product.get_absolute_url }}">
                                    <img src="{{product.image.url}}" class="card-img" alt="..."
                                        style="height:196px;width:240px;">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-right"><a
                                            href="{{ product.get_absolute_url }}">{{product.title}}</a></h5>
                                    <div>
                                        <p class="card-text text-right">{{product.description|truncatewords:25}}</p>

                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a class="btn btn-primary" href="{{ product.get_absolute_url }}">مشاهده</a>
                                        </div>
                                        <div class="card-footer mb-3 col-md-9">

                                            <div class="col-md-12">
                                                <p class="card-text text-right"> قیمت: {{product.price}} تومان</p>
                                            </div>

                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

        </div>

        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">

                {% for product in products %}
                <a class="list-group-item list-group-item-action text-right {% if forloop.first %} active {% endif %}"
                    id="list-{{product.id}}-list" data-toggle="list" href="#{{product.slug}}" role="tab"
                    aria-controls="{{product.id}}" style="width:70%">{{product.title}}</a>
                {% endfor %}
            </div>
        </div>


    </div>
    <br><br><br>

</div>





<header class="title text-center bg-dark text-white" style="height:60px">
    <h2>وبلاگ</h2>
</header>
<br><br><br>

<section class="container">
    <div class="row ">

        {% for late in latest %}
        <div class="col-md-4">
            <div class="card" style="width: 23rem;height: 507px;">
                <img src="{{ late.image.url }}" class="card-img-top" alt="..." style="max-height: 230px">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <p class="text-muted offset-md-1 "><small class="text-primary">{{ late.timestamp }} | </small>
                        </p>
                        <p class="text-muted offset-md-1">
                            {% for cat in late.categories.all %}
                            <small><b> | {{ cat.title }} </b></small>
                            {% endfor %}
                        </p>
                    </div>
                    <hr>

                    <h5 class="card-title text-center">{{ late.title }}</h5>
                    <p class="card-text text-right">{{ late.text|truncatechars:120 }}</p>
                    <a href="{{ late.get_absolute_url }}" class="btn btn-primary">بیشتر بخوانید</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>



{% endblock %}